<link href='http://fonts.googleapis.com/css?family=Lobster|Anton|Pacifico|Playfair+Display+SC|Playball' rel='stylesheet' type='text/css'>
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<style>
/*fonts:
font-family: 'Playfair Display SC', serif;
font-family: 'Pacifico', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Playball', cursive;
*/
#photohome {
	display: inline-block;
}

.photodescription {
	font-size: 20px;
}
   span{
        font-family: 'Playfair Display SC', serif;
    }
    
    #nav_links:hover{
        color:#fce757;
    }
    
    h4, .text-center,input{
    	font-family: 'Playball', serif;
    	color:black;
    }
    .form-control{
    	font-family: 'Playball', serif;
    	color:black;
    }
    .dropDown{
    	font-family: 'Playball', serif;
    	color:black;
    }
    
    #control-label{
        font-family: 'Playfair Display SC', serif;
    }
    h3,h2,p,form{
        font-family: 'Playfair Display SC', serif;
    }
    li{
        font-family: 'Playfair Display SC', serif;
    }
    select{
        font-family: 'Playfair Display SC', serif;
    }
    .btn-default{
    	font-family: 'Playfair Display SC', serif;
    }
    .input-group-addon{
    	font-family: 'Playfair Display SC', serif;
    	background-color: black;
    	color:#fce757;
    
    }
    </style>

<section class="row" data-ng-controller="SettingsController">
	<h2 class="col-md-12 text-center">Edit your profile</h2>
	<div class="col-md-5" style="float:left; display:inline-block;">
	<!--<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
-->
<style type="text/css">
	img {width:100px;}
</style>
<h3>Profile Picture</h3>
<table>
<tr>
	<td>
		<!--<img id="uploadPreview1" src="/modules/users/img/buttons/no_image.jpg" />-->
		<br />
		<input id="uploadImage1" type="file" name="p1" onchange="PreviewImage(1);" />
	</td>
	
</tr>
</table>
		
<script type="text/javascript">
    function PreviewImage(no) {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("uploadImage"+no).files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview"+no).src = oFREvent.target.result;
        };
    }
</script> 


	

		<!--
		<div flow-init="{singleFile:true}"
			 flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
			<h3>
			<a name="image-example" class="anchor" href="#image-example"><span class="octicon octicon-link"></span></a>Single Image upload</h3>
			<div class="thumbnail" ng-show="!$flow.files.length">
			  <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
			</div>
			<div class="thumbnail" ng-show="$flow.files.length">
			  <img flow-img="$flow.files[0]" />
			</div>
			<div>
				<input type="file" accept="public/uploads/*" image="image" flow-btn/>
			  <span class="btn btn-primary" ng-show="!$flow.files.length" flow-btn>Select image</span>
			  <span class="btn btn-info" ng-show="$flow.files.length" flow-btn>Change</span>
			  <span class="btn btn-danger" ng-show="$flow.files.length"
				 ng-click="$flow.cancel()">
				Remove
			  </span>
			</div>
			<p>
			  Only PNG,GIF,JPG,JEPG files allowed.
			</p>
			
<img ng-show="image" ng-src="{{image.url}}" type="{{image.file.type}}" />
		</div>	-->
		
	</div>

  
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-8 col-md-5" style="float:left; display:inline-block;">
		<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="firstName">First Name</label>
					<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="First Name">
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Last Name">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="Username">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Save Profile</button>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Profile Saved Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>