<link href='http://fonts.googleapis.com/css?family=Lobster|Anton|Pacifico|Playfair+Display+SC|Playball' rel='stylesheet' type='text/css'>
<style>
#photohome {
	display: inline-block;
}

.photodescription {
	font-size: 20px;
}
#btn-like{
	font-family: 'Playfair Display SC', serif;
	background-color:#000000; 
	color:#fce757; 
	float:left; 
}

#login-btn{
	background-color: #000000;
	color:#fce757;
}
h2{
	font-family: 'Playfair Display SC', serif;
}
h1{
	font-family: 'Playfair Display SC', serif;
}

</style>
<!-- Custom CSS -->
    <link href="/public/lib/bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">
	<link href="mystyles.css" rel="stylesheet">
	

<section data-ng-controller="PhotosController" data-ng-init="findOne()">
	<!--<div ng-show="myValue2" class="ng-hide" style="color:black"> New Photo Posted! </div>-->

	<div class="page-header">
		<h1 data-ng-bind="photo.name" style="color:black"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == photo.user._id))" style="float: right;">
		<a class="btn btn-primary" href="/#!/photos/{{photo._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<div>
		<h2>
			Posted on
			<span data-ng-bind="photo.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="photo.user.displayName"></span>
		</h2>
		</div>
		<div>
		<h2>
			Likes: <span data-ng-bind="photo.likes"></span>
			Dislikes: <span data-ng-bind="photo.dislikes"></span>
			Views: <span data-ng-bind="photo.views"></span>
		</h2>
		</div>
		<div>
		<h2>
			<button class="btn btn-success" ng-click="likeThis()" id="btn-like" data-id="{{ image.uniqueId }}" ><i class="fa fa-usd"><font style ="font-family: 'Playfair Display SC', serif; ">Glam</style></i></button>
			
		</h2>
		</div><div>
		<h2>
			<button class="btn btn-success" ng-click="dislikeThis()" id="btn-dislike" data-id="{{ image.uniqueId }}"  style="background-color:black; color:#fce757"><i class="fa fa-trash"><font style ="font-family: 'Playfair Display SC', serif">Trashy</style></i></button>
			
		</h2>
		</div>
		<br>
		<br>

		<div class="page-body" style="display:inline-block; text-align:left; float:left;">
			<image ng-src="{{photo.image}}" style="max-width:700px;"/>
		</div>
		
		<!-- Temp button to edit delete, original no longer works -->
		<!--<div class="pull-right" style="float: right;">
			<a class="btn btn-primary" href="/#!/photos/{{photo._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<!--<a class="btn btn-primary" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>-->
		<!--
		<div class="photodescription" style="text-align:left; float:left; margin-left: 1%; font-size:20px;">
		Description:
		<p data-ng-bind="photo.description"></p> -->
		
		</div><br /><br />

	
	<section data-ng-controller="ArticlesController">
	<div class="page-header" style="clear: left;"><br />
		<h1>Start Talking Trash</h1>
	</div>
	<div class="col-md-12">
		<form name="articleForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">
					<label class="control-label" for="title">Trash Title</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="content">Just how trashy was it..</label>
					<div class="controls">
						<textarea name="content" data-ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
<br />
        
<section data-ng-controller="ArticlesController" data-ng-init="find()">
	<div class="page-header" style="clear: left;">
		<h1>Wall of Trash</h1>
	</div>
	<div class="list-group">
		<a data-ng-repeat="article in articles" data-ng-href="#!/articles/{{article._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Smack posted on
				<span data-ng-bind="article.created | date:'mediumDate'"></span>
				started by
				<span data-ng-bind="article.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="article.title"></h4>
			<p class="list-group-item-text" data-ng-bind="article.content"></p>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
		No trash yet, why don't you start some?
	</div>
</section>		
	
	
	
	
	
	</div>
	
</section>
