<link href='http://fonts.googleapis.com/css?family=Lobster|Anton|Pacifico|Playfair+Display+SC|Playball' rel='stylesheet' type='text/css'>
<script src="scenarios.js" type="text/javascript" ></script>
<script src="script.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.0/angular.min.js"></script>
  
<style>
/*fonts:
font-family: 'Playfair Display SC', serif;
font-family: 'Pacifico', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Playball', cursive;
*/
	#pic_info{
		font-family: 'Lobster', cursive;
	}
	
	#username{
		color:#fce757;
		font-family: 'Playball', cursive;
	}
	
	#label{
		font-family: 'Playfair Display SC', serif;
	}
	h1{
		color:#000000;
		font-family: 'Playball', cursive;
	}
</style>

<section data-ng-controller="HomeController">
	<section data-ng-controller="PhotosController" data-ng-init="find()">
    <div class="page-header">
        <h1>Selfies</h1>
		
		
		<!-- Start of Controller -->	

 <!-- SEARCH AREA -->

 
	 <div class="search">
		<label id="label">Search Selfies:</label>
		  <input type="text" class="form-control" id="input1" placeholder="Photo Name" ng-model="query">
          
		<label>Sort by:
			<select ng-model="query">
				<option value="" selected>All</option>
				<option value="duck">Duck Face</option>
				<option value="stick">Selfie Stick</option>
				<option value="bathroom">Bathroom Selfie</option>
			</select>
		</label>
		<br>
	
<script type="text/javascript">
$scope.tab = function (tabIndex) {
     //Sort by date
      if (tabIndex == 1){
        //alert(tabIndex);
        $scope.photo.dislikes='dislike';
      
      }   
      //Sort by views 
      if (tabIndex == 2){
        $scope.photo.dislikes='dislikes';
      }
</script>	
		<label>
			<input type="radio" ng-click="photo in photos | filter: photo.likes | orderBy: photo.likes" name="filters">
			Top Rated:  <!--{{photo in photos | filter:likes | orderBy: photo.likes}}-->
		</label>
		<label>	
			Worst of the Worst
			<input type="radio" ng-click="tab(1)" name="filters">
			
		</label>
	</div>
	<!--END of SEARCH AREA -->

		
		
    </div>
			<div>
				<a data-ng-repeat="photo in photos | filter:query | orderBy: predicate:reverse" data-ng-href="#!/photos/{{photo._id}}">
					<div class="col-md-4 text-center" style="padding-bottom:1em;" id="label">
						<div>
							<h4 class="list-group-item-heading" data-ng-bind="photo.name"></h4>
							<image src="{{photo.image}}" style="max-width:300px; max-height: 190px" />
							<small class="list-group-item-text" id="pic_info">
							<br />
								Posted on
								<span data-ng-bind="photo.created | date:'medium'"></span><br />
								by
								<span data-ng-bind="photo.user.displayName"></span>
							</small>
						</div>	
					</div>
				</a>
			</div>
			
	
    <div class="alert alert-warning text-center" data-ng-hide="!photos.$resolved || photos.length">
    	No selfies yet, why don't you pucker those lips and <a href="/#!/photos/create">take one</a>?
    </div>
	</section>
	
	<!--
	<div class="row">
		<div class="col-md-3">
			<h2>
				<strong>M</strong>ongoDB
			</h2>
			<p><a target="_blank" href="http://mongodb.org/">MongoDB</a> is a database. MongoDB's <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a> is the place to get started with NoSQL and MongoDB.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>E</strong>xpress
			</h2>
			<p><a target="_blank" href="http://expressjs.com/"> Express</a> is an app server. Check out <a target="_blank" href="http://expressjs.com/4x/api.html">The ExpressJS API reference for more information</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>A</strong>ngularJS
			</h2>
			<p>AngularJS is web app framework. <a target="_blank" href="http://angularjs.org/">Angular's website</a> offers a lot. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>N</strong>ode.js
			</h2>
			<p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a web server. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>
		</div>
	</div>
	
	<div class="well">
		<h2>MEAN.JS Documentation</h2>
		<p>
			Once you're familiar with the foundation technology, check out the MEAN.JS Documentation:
			<ul>
				<li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
				</li>
				<li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
				</li>
			</ul>
		</p>
	</div>
	<br>Enjoy &amp; Keep Us Updated,
	<br>The MEAN.JS Team.
	-->
</section>
