<link href='http://fonts.googleapis.com/css?family=Lobster|Anton|Pacifico|Playfair+Display+SC|Playball' rel='stylesheet' type='text/css'>
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<style>
/*fonts:
font-family: 'Playfair Display SC', serif;
font-family: 'Pacifico', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Playball', cursive;
*/
#photohome {
	display: inline-block;
}

.photodescription {
	font-size: 20px;
}
   span{
        font-family: 'Playfair Display SC', serif;
    }
    
    #nav_links:hover{
        color:#fce757;
    }
    
    h1{
    	font-family: 'Playball', serif;
    	color:black;
    }
    .form-control{
    	font-family: 'Playball', serif;
    	color:black;
    }
    .dropDown{
    	font-family: 'Playball', serif;
    	color:black;
    }
    
    #control-label{
        font-family: 'Playfair Display SC', serif;
    }
    h5{
        font-family: 'Playfair Display SC', serif;
    }
    li{
        font-family: 'Playfair Display SC', serif;
    }
    select{
        font-family: 'Playfair Display SC', serif;
    }
    .btn-default{
    	font-family: 'Playfair Display SC', serif;
    }
    .tweet-item{
        font-family: 'Playfair Display SC', serif;
        background-color: #fbfbfb;
        color:black;
        padding:10px;
        margin: 10px;
        width: 300px;
        height: 100%;
        border: 2px solid #fce757;
        border-radius: 20px;
        display: inline-block;
        
     
    }
    /*#tweet-list{
        
        overflow: hidden;
    }*/
    .input-group-addon{
    	font-family: 'Playfair Display SC', serif;
    	background-color: black;
    	color:#fce757;
    
    }
    .profile-image img{
    width:50px;
    height:50px;
    border-radius: 24px;
}

.media-body{
    padding: 20px;
 
}
.tweeter-name{
    font-weight:bold;
}
.tweeter-screenname{
    color:#999;
}
.img{
    width: 100%;
    height: 100%;
}
    </style>

	<div ng-controller="TimelineController">
		<div class="page-header">
        <h1>Look Up Your Favorite Selfie Queens</h1>
    </div>

	
		<div id="search-container" class="row">
			<div class="col-lg-3">
				<label class="control-label" for="name"><h5>See who is talking trash</h5></label>

				<!-- this form will trigger the getTweets function in the javascript controller on submit -->
				<form class="input-group" ng-submit="getTweets()" >
	  			<span class="input-group-addon">@</span>

					<!-- this text input is binded to a variable in the javascript controller -->
				  <input type="text" class="form-control" placeholder="Twitter User" ng-model="username">

					<span class="input-group-btn">
		        <button class="btn btn-default" type="submit">Get Tweets</button>
		      </span>

				</form>
   		</div>
		</div>

		<div class="row clearfix">
			<div class="col-lg-12">

		    	<div id="tweet-list">

		    		<!-- this div will repeat for every tweet object in the array using a template-expanding directive -->
		    		<div ng-repeat="tweet in tweetsResult" class="tweet-item">
                        <div class="media">
							<a class="profile-image pull-left" href="{{tweet.user.url}}" target="_blank">
                                <img src="{{tweet.user.profile_image_url}}"/></a>
                                <div class ="media-body">
                                    
                                    

                                    <span class="tweeter-name">{{tweet.user.name}}</span>
							
								<span class="tweeter-screenname">@{{tweet.user.screen_name}}</span><br/>
                                {{tweet.text}}<br>


                            </div>


							
		    		</div>
                </div>

		    	</div>

		  </div>
  	</div>

	</div>